<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end %>
   <% if flash[:error] -%>
  <p class='error'><%=h flash[:error] %></p>
<% end %>
<%= form_for @chapter do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>
      <ul>
        <% @chapter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :parent_id, :value => params[:parent_id] %>
  <p>
    <%= f.label :chapter_no %><br />
    <%= f.text_field :chapter_no %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label 'Statutary Authority' %><br />
    <%= f.text_field :statutaryauthority %>
  </p>
  <p>
    <%= f.label :school_stage %><br />
    <%= f.text_field :school_stage %>
  </p>
  <p><%= f.submit %></p>
<% end %>
